#root {
  min-height: 100vh;
}

.ui.top.inverted.menu {
  height: 60px;
  background: #1976D2;
}

.content.ui.container {
  padding-top: 30px !important;
  padding-bottom: 50px !important;
  flex: 1;
}

.list-button.ui.basic.inverted.button {
  color: #FFF !important;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1) inset !important;
}

.list-button.ui.basic.inverted.button:hover {
  background: #FFF !important;
  color: #2196F3 !important;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5) inset !important;
}

.new-button.ui.green.basic.button {
  color: #2ECC40 !important;
  box-shadow: 0 0 0 1px #22BE34 inset !important;
}

.new-button.ui.green.basic.button:hover {
  background: #22BE34 !important;
  color: #FFF !important;
  box-shadow: 0 0 0 1px #22BE34 inset !important;
}

.landing-background {
  min-height: calc(100vh - 60px);
  padding: 20vh 0;
  /*background: url("/images/landing-background.jpg");*/
  /*background-size: cover;*/
  background: radial-gradient(ellipse at center, rgba(100,181,246,1) 0%, rgba(33,150,243,1) 100%);
}

.landing-background h1.ui.header {
  padding: 0 0 50px 0;
  font-size: 50px;
  font-weight: normal;
}

.landing-background h2.ui.header {
  font-size: 25px;
  font-weight: normal;
}

.landing-content.ui.grid.container {
  color: #FFF;
  width: 100vw !important;
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.landing-content.ui.grid.container > div {
  display: inline-flex;
  padding: 12vh 0;
}

.landing-content .heading {
  padding: 27px 0;
  font-size: 30px;
  font-weight: normal;
}

.feature {
  margin: auto;
  padding: 0 100px;
}

.footer {
  padding: 70px 0 50px;
  background: #0D47A1;
  color: #FFF;
}

.rio-list.ui.fluid.container.content {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.view-button.ui.basic.blue.button {
  color: #2196F3 !important;
  box-shadow: 0px 0px 0px 1px #2196F3 inset !important;
}

.view-button.ui.basic.blue.button:hover {
  background: #2196F3 !important;
  color: #FFF !important;
  box-shadow: 0px 0px 0px 1px #2196F3 inset !important;
}

.edit-button.ui.basic.green.button:hover {
  background: #21BA45 !important;
  color: #FFF !important;
  box-shadow: 0px 0px 0px 1px #21BA45 inset !important;
}

.activate-button.ui.basic.grey.button:hover {
  background: #767676 !important;
  color: #FFF !important;
  box-shadow: 0px 0px 0px 1px #767676 inset !important;
}

.delete-button.ui.basic.red.button:hover {
  color: #F44336 !important;
  box-shadow: 0px 0px 0px 1px #F44336 inset !important;
}

.delete-button.ui.basic.red.button:hover {
  background: #F44336 !important;
  color: #FFF !important;
  box-shadow: 0px 0px 0px 1px #F44336 inset !important;
}

.ui.multiple.dropdown > a.ui.label {
  margin: 2px;
  padding: 7px 6px;
  border-radius: 0;
  box-shadow: none;
  font-weight: 700;
  font-size: 0.85714286rem;
}

.ui[class*="right labeled"].icon.button.sort-order {
  padding-right: 3.57142857em !important;
  padding-left: 1em !important;
}

@media only screen and (max-width: 767px) {
  div.ui.container {
    margin: 0 !important;
  }
}
